:host {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    margin-top: 1%;

    .mat-header-cell, .mat-cell {
        //text-align: center;
    }

    .list-content {
        white-space: nowrap;

        ul {
            list-style-type: none;
            margin: unset;
            padding: unset;
        }
    }

}

.add-btn {
    width: 10%;
    float: right;
}

.input-field {
    margin-right: 5px;
    margin-left: 5px;
}