table {
    width: 100%;
    margin-top: 1%;

    .list-content {
        white-space: nowrap;

        ul {
            list-style-type: none;
            margin: unset;
            padding: unset;
        }
    }
}

.def-btn {
    float: right;
    margin: 5px;
}

.form-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;   
}

.green-btn {
    background-color: #7AC567;
}

.delete-btn {
    background-color: #F65D52;
}